.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    
  }
  .space {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mat-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
  }
  
  .mat-header-cell,
  .mat-cell {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .mat-header-cell {
    background-color: #ecf390;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
  }
  
  
  .mat-row:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  body{
    background-color: #f5f5f5;
  }