<div class="container m-3">
    <h5 class="table-title">Tournaments</h5>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef>Label</th>
                <td mat-cell *matCellDef="let tournament">{{ tournament.label }}</td>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef> Start date</th>
                <td mat-cell *matCellDef="let tournament"> {{ tournament.startDate | date : 'dd/MM/yyyy' }}</td>
            </ng-container>
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef> End date</th>
                <td mat-cell *matCellDef="let tournament"> {{ tournament.endDate | date : 'dd/MM/yyyy' }}</td>
            </ng-container>
            <ng-container matColumnDef="statusTournamentAndMatch">
                <th mat-header-cell *matHeaderCellDef>Tournament stages</th>
                <td mat-cell *matCellDef="let tournament">
                    <mat-select [(ngModel)]="tournament.statusTournamentAndMatch" (selectionChange)="onStatusChange($event, tournament)">
                        <mat-option value="INSCRIPTION" [disabled]="!isRegistrationPhase">Registration</mat-option>
                        <mat-option value="EIGHT_FINAL" [disabled]="disableOption('EIGHT_FINAL', tournament.statusTournamentAndMatch)">Round of Eight</mat-option>
                        <mat-option value="QUART_FINAL" [disabled]="disableOption('QUART_FINAL', tournament.statusTournamentAndMatch)">Quarterfinal</mat-option>
                        <mat-option value="DEMI_FINAL" [disabled]="disableOption('DEMI_FINAL', tournament.statusTournamentAndMatch)">Semifinal</mat-option>
                        <mat-option value="FINAL" [disabled]="disableOption('FINAL', tournament.statusTournamentAndMatch)">Final</mat-option>
                        <mat-option value="FINISHED" [disabled]="disableOption('FINISHED', tournament.statusTournamentAndMatch)">Finished</mat-option>
                        <mat-option value="CANCELLED">Cancelled</mat-option>
                    </mat-select>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let tournament">
                    <button mat-button (click)="updateTournament(tournament)">
                        <mat-icon>create</mat-icon>
                    </button>
                    <button mat-button color="warn" (click)="deleteTournament(tournament)">
                        <mat-icon>delete</mat-icon>
                    </button>

                </td>
            </ng-container>

            <tr mat-header-row class="mat-table mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
            <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <mat-toolbar>
            <mat-toolbar-row>
                <button class="addBtn" (click)="saveTournament()" mat-raised-button color="primary">
                    <mat-icon>add_box</mat-icon>
                    Ajouter
                </button>


                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               [showFirstLastButtons]="showFirstLastButton"
                               aria-label="Select page of periodic elements">
                </mat-paginator>
            </mat-toolbar-row>
        </mat-toolbar>


    </div>
</div>
