table {
  width: 100%;
}
.custom-table { /* Set the background color for the table */
  border-radius: 10px; /* Add rounded corners to the table */
  overflow: hidden; /* Hide any overflow content */
}

