<h1 mat-dialog-title>Modifier le Tournoi</h1>
<div mat-dialog-content>
    <form [formGroup]="editTournamentFormGroup">
        <div class="form-group">
            <label for="tournamentLabel" class="form-label">Nom</label>
            <input type="text" class="form-control" id="tournamentLabel" formControlName="label">
        </div>
        <div class="form-group">
            <label for="startDate" class="form-label">Date de Début</label>
            <input type="date" class="form-control" id="startDate" formControlName="startDate">
        </div>
        <div class="form-group">
            <label for="endDate" class="form-label">Dtae de Fin</label>
            <input type="date" class="form-control" id="endDate" formControlName="endDate">
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button type="button" class="btn btn-secondary" mat-button (click)="onClose()">Fermer</button>
    <button [disabled]="!editTournamentFormGroup.valid" class="btn btn-success" mat-button (click)="updateTournament()">Sauvegarder</button>
</div>
