<div class="container mt-5">
    <!-- Tournament Selection Dropdown -->
    <mat-form-field>
        <mat-label>Choisir un tournoi</mat-label>
        <mat-select (selectionChange)="onTournamentChange($event.value)">
            <mat-option *ngFor="let tournament of tournaments$ | async" [value]="tournament">
                {{ tournament.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Cards Table Display -->
    <div *ngIf="selectedTournament">
        <table mat-table [dataSource]="cards" class="custom-table">

            <!-- Column Definitions -->
            <ng-container matColumnDef="minute">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Minute</th>
                <td mat-cell *matCellDef="let card">{{ card.minute }}</td>
            </ng-container>

            <ng-container matColumnDef="cardType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let card">{{ card.cardType }}</td>
            </ng-container>

            <ng-container matColumnDef="player">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Player</th>
                <td mat-cell *matCellDef="let card">{{ card.player_id }} {{ card.playerName }}</td>
            </ng-container>

            <ng-container matColumnDef="match">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Minute</th>
                <td mat-cell *matCellDef="let card">{{ card.minute }}</td>
            </ng-container>

            <!-- Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="['minute', 'cardType', 'player', 'match']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['minute', 'cardType', 'player', 'match'];"></tr>
        </table>
    </div>
</div>
