<div class= "bg-image" style="background-image: url('assets/images/bg_3.jpg')" >
  <div class="row align-items-center">
    <div class="col-lg-5 ml-auto">
      <h1 class="text-white"> Welcome to Capegemini Cup Event</h1>
    </div>
    <div class="card" style="width: 18rem; margin: 50px auto;">
      <img src="assets/images/logo_1.png" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Tournament 2024-2025</h5>
        <p class="card-text">This tournament for all collaborators of rabat and casablanca sites </p>
        <button color="primary" mat-raised-button (click)="openDialog()">Inscription</button>
      </div>
    </div>
  </div>
</div>
